{% extends "base.html" %}


{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Book Service</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body pt-4">
              {% comment %} <h5 class="card-title">Book Service</h5> {% endcomment %}

              <!-- Multi Columns Form -->
              <form class="row g-3" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                  <label for="inputName5" class="form-label">Category</label>
                  <select class="form-select" aria-label="Default select example" name="category">
                    <option selected>select category</option>
                    <option value="2 Wheeler">2 Wheeler</option>
                    <option value="4 Wheeler">4 Wheeler</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputEmail5" class="form-label">Vehicle Registration Number</label>
                  <input type="text" class="form-control" id="inputEmail5" placeholder="MH xx CD xxxx" name="vehicle_reg_no">
                  {% for msg in messages %}
                  <p style="color:red"><i class="fa fa-ban" aria-hidden="true"></i> {{msg}}</p>
                  {% endfor %}
                </div>
                <div class="col-md-4">
                  <label for="inputPassword5" class="form-label">Vehicle Name</label>
                  <input type="text" class="form-control" id="inputPassword5" name="vehicle_name">
                </div>
                <div class="col-md-4">
                  <label for="inputAddress5" class="form-label">Brand Name</label>
                  <input type="text" class="form-control" id="inputAddres5s" name="vehicle_brand">
                </div>
                <div class="col-md-4">
                  <label for="inputAddress2" class="form-label">Model Name</label>
                  <input type="text" class="form-control" id="inputAddress2" name="vehicle_model">
                </div>
                <div class="col-md-6">
                  <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                  <input type="date" class="form-control" name="service_date">
                </div>
                <div class="col-md-6">
                  <label for="inputDate" class="col-sm-2 col-form-label">Time</label>
                  <input type="time" class="form-control" name="service_time">
                </div>
                <div class="col-md-12">
                  <label for="inputZip" class="form-label">Pickup Address</label>
                  <input type="text" class="form-control" id="inputZip" name="pickup_address">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="need_delivery" value="True">
                    <label class="form-check-label" for="gridCheck">
                      Deliever Vehicle to the above Address ? <span style="color:red">(Extra Charges Included)</span>
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

{% endblock content %}



